{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "lcovonly"
  ],
  "sourceMap": true,
  "instrument": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80
}
