{
  "branches": 50,
  "exclude": ["**/*.d.ts", "**/*.spec.ts"],
  "extension": [".ts"],
  "functions": 50,
  "include": ["src/**/*.ts"],
  "instrument": true,
  "lines": 50,
  "reporter": ["text-summary", "html", "lcov"],
  "sourceMap": true,
  "statements": 50
}
