name: Publish and release (latest)

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - release-triggered

env:
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}
  LOG_LEVEL: info
  PACT_BROKER_BASE_URL: ${{ secrets.PACT_BROKER_BASE_URL }}
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}

# Setup npm trusted publishing
permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      version: v${{ steps.publish.outputs.version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: master
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - id: publish
        run: scripts/ci/release.sh
        env:
          SKIP_EXAMPLES: true
        # examples are skipped, due to jest-pact requiring updating to support pact-js-v16
        # will be reinstated, post release of https://github.com/pact-foundation/jest-pact/pull/423
      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: v${{ steps.publish.outputs.version }}
          release_name: Release v${{ steps.publish.outputs.version }}
          body: ${{steps.publish.outputs.notes}}
          draft: false
          prerelease: false
