name: Trigger update to docs.pact.io

on:
  push:
    branches:
      - master
    paths:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger docs.pact.io update workflow
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4
        with:
          token: ${{ secrets.GHTOKENFORTRIGGERINGPACTDOCSUPDATE }}
          repository: pact-foundation/docs.pact.io
          event-type: pact-js-docs-updated
